##############
# C Snippits #
##############

snippet include "Standard C include lines" b
#include <stdio.h>
#include <stdlib.h>
endsnippet

snippet template "Initial Template" b
/* `!p snip.rv = snip.basename or "untitled"`.c */

#include <stdlib.h>
#include <stdio.h>

int main(int argc, char *argv[] )
{
  ${1}

  return EXIT_SUCCESS;
}
endsnippet

snippet p "printf" b
printf(${1});
endsnippet
