snippet date
`!p import datetime
snip.rv = datetime.datetime.now().strftime("%Y-%m-%d")
`
endsnippet

snippet datetime
`!p import datetime
snip.rv = datetime.datetime.now().strftime("%Y-%m-%d %H:%M")
`
endsnippet

snippet output
/* Output
$1
*/
endsnippet
